<!DOCTYPE html>
<html>
  <head>
    <title>Simple Shopping List Application</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Icon Library -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Mobile Home Screen Icons -->
    <link rel="apple-touch-icon" href="/images/mobileicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/mobileicon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/mobileicon.png" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/style.css?v=1426562666156">
    <!--STYLES END-->
  </head>

  <body class="clearfix">
    <% if (session.authenticated === true) { %>
      <div class="icon-bar three-up tier-top">
        <a href="/mylists" class="item">
          <i class="fa fa-book"></i>
          <label>Lists</label>
        </a>
        <a href="/profile" class="item">
          <i class="fa fa-user"></i>
          <label>Profile</label>
        </a>
        <a href="/logout" class="item">
          <i class="fa fa-sign-out"></i>
          <label>Sign Out</label>
        </a>
      </div>
    <% } %>

    <%- body %>

    <footer></footer>

    <% if (sails.config.environment === 'development') { %>
      <script src="//localhost:9090/livereload.js"></script>
    <% } %>

    <% if (typeof script === 'string') { %>
      <script type="text/javascript" src="<%= sails.config.globals.requirejs[sails.config.environment] %>" data-main="/js/<%= script %>.js"></script>
    <% } %>
  </body>
</html>
