<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Icon Library -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="icon-bar three-up tier-top">
      <a href="/" class="item">
        <i class="fa fa-book"></i>
        <label>Lists</label>
      </a>
      <a href="#" class="item">
        <i class="fa fa-user"></i>
        <label>Profile</label>
      </a>
      <a href="#" class="item">
        <i class="fa fa-sign-out"></i>
        <label>Sign Out</label>
      </a>
    </div>

    <%- body %>

    <script type="text/javascript" src="<%= sails.config.globals.requirejs[sails.config.environment] %>" data-main="/js/<%= script %>.js"></script>

    <% if (sails.config.environment === 'development') { %>
      <!-- Live Reload -->
      <script src="//localhost:9090/livereload.js"></script>
    <% } %>
  </body>
</html>
