<!DOCTYPE html>
<html>
  <head>
    <title>Simple Shopping List Application</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Icon Library -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Mobile Home Screen Icons -->
    <link rel="apple-touch-icon" href="/images/mobileicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/mobileicon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/mobileicon.png" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/style.css?v=1484411346495">
    <!--STYLES END-->
  </head>

  <body>

    <div class="wrapper">
      <% if (session.authenticated === true) { %>
        <div class="icon-bar two-up tier-top">
          <a href="/mylists" class="item">
            <i class="fa fa-book"></i>
            <label>Lists</label>
          </a>
          <!--
          <a href="/profile" class="item">
            <i class="fa fa-user"></i>
            <label>Profile</label>
          </a>
          -->
          <a href="/logout" class="item" onclick="return confirm('Are you sure you want to log out?');">
            <i class="fa fa-sign-out"></i>
            <label>Sign Out</label>
          </a>
        </div>
      <% } %>

      <%- body %>
    </div>

    <footer>
      <div class="row">
        <div class="small-12 columns">
          <ul class="inline-list right clearfix">
            <li><a href="http://www.scottstadt.com" class="uppercase">My Work</a></li>
            <li><a href="https://github.com/sstadt/shoplist" class="uppercase">GitHub</a></li>
          </ul>
          <p class="show-for-medium-up left">Powered by <a href="http://sailsjs.org">Sails.js</a> and <a href="http://knockoutjs.com">Knockout.js</a>.</p>
        </div>
      </div>
    </footer>

    <% if (sails.config.environment === 'development') { %>
      <script src="//localhost:9090/livereload.js"></script>
    <% } else { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36862310-2', 'auto');
        ga('send', 'pageview');
      </script>
    <% } %>

    <% if (typeof script === 'string') { %>
      <script type="text/javascript" src="<%= sails.config.globals.requirejs[sails.config.environment] %>" data-main="/js/<%= script %>.js"></script>
    <% } %>

  </body>
</html>
