<div class="row">
  <div class="small-12 columns">
    <h1>Reset or Recover Password</h1>
    <p>Enter the email address associated with your account below and we'll send you an email that will allow you to reset your password.</p>
  </div>
</div>

<% if (flash && flash.msg) { %>
  <%- partial('../components/flashmsg') %>
<% } %>

<div class="row">
  <div class="small-12 columns">
    <form method="POST" action="/sendreset">
      <div class="row">
        <div class="small-12 columns">
          <input type="email" class="radius" name="email" placeholder="email" value="<%= flash.vars.email %>" required />
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <button type="submit" class="expand radius"><i class="fa fa-sign-in"></i> Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

