
<!-- Slick slider showcasing app features -->

<div class="row">
  <div class="small-12 medium-4 columns tout">
    <p class="text-center"><i class="fa fa-share-alt"></i></p>
    <p class="text-center">Share and sync lists with other users</p>
  </div>
  <div class="small-12 medium-4 columns tout">
    <p class="text-center"><i class="fa fa-refresh"></i></p>
    <p class="text-center">Realtime updates between multiple users</p>
  </div>
  <div class="small-12 medium-4 columns tout">
    <p class="text-center"><i class="fa fa-mobile"></i></p>
    <p class="text-center">Mobile friendly</p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
    <a href="/register" class="button primary large radius cta-get-started">Get Started!</a>
  </div>
</div>
