
/* Utility Classes
-------------------------------- */

.ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.uppercase {
	text-transform: uppercase;
}

.tier-lower {
	z-index: -1;
}

.tier-bottom {
	z-index: 1;
}

.tier-middle {
	z-index: 200;
}

.tier-top {
	z-index: 400;
}

.tout {
	p:first-child {
		i {
			font-size: rem-calc(80);
		}
	}

	@media #{$medium-only} {
		padding: 0 rem-calc(40);
	}

	@media #{$large-up} {
		padding: 0 rem-calc(60);
	}
}

.under-construction {
	width: 100%;

	img {
		display: block;
		margin: 40px auto;
	}

	p {
		text-transform: uppercase;
	}
}

/* Foundation Overrides
-------------------------------- */

.icon-bar {
	position: relative;
}

.prefix.postfix {
	border-width: 0;

	input {
		text-align: center;
	}
}

form {
	.row {
		.row.collapse.prefix.postfix {
			margin-bottom: 1rem;
		}
	}
}

.prefix.postfix .columns:first-child {
	button, .button {
		@include prefix-border-radius(4px);
	}
}

.prefix.postfix .columns:last-child {
	button, .button {
		@include postfix-border-radius(4px);
	}
}

.reveal-modal {
	.row:last-child {
		button, .button {
			margin-bottom: 0;
		}
	}
}

/* Global Elements
-------------------------------- */

footer {
	margin-top: rem-calc(20);
	color: $topbarLinkColor;
	background-color: $topbarBgColor;

	p {
		line-height: rem-calc(20);
		margin: rem-calc(10) 0;
	}

	.inline-list {
		margin-bottom: 0;

		> li {
			line-height: rem-calc(16);
			margin: rem-calc(12) 0;
			margin-left: rem-calc(10);
			font-size: rem-calc(12);

			&:last-child {
				margin-right: 0;
			}

			&:not(:last-child) {
				padding-right: rem-calc(10);
				border-right: 1px solid $topbarLinkColor;
			}
		}
	}

	a {
		@include link-state($topbarLinkColor, $topbarLinkColorHover, $topbarLinkColorActive);

		&:hover {
			text-decoration: underline;
		}
	}
}

ul {
	list-style: none;
}

.alert-box {
	ul {
		margin: 0;
	}

	&.secondary {
		color: $alertSecondaryFontColor;
	}
}

.search-box {
	.label {
		cursor: pointer;
		margin-bottom: 1rem;
		@include transition(background-color, 0.3s, linear);

		&:hover {
			background-color: $lblPrimaryHover;
		}

		&.secondary:hover {
			background-color: $lblSecondaryHover;
		}

		&.alert:hover {
			background-color: $lblAlertHover;
		}

		&.success:hover {
			background-color: $lblSuccessHover;
		}

		&.info:hover {
			background-color: $lblInfoHover;
		}
	}
}


