
/* Utility Classes
-------------------------------- */

.ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tier-lower {
	z-index: -1;
}

.tier-bottom {
	z-index: 1;
}

.tier-middle {
	z-index: 200;
}

.tier-top {
	z-index: 400;
}

.under-construction {
	width: 100%;

	img {
		display: block;
		margin: 40px auto;
	}

	p {
		text-transform: uppercase;
	}
}

/* Foundation Overrides
-------------------------------- */

.icon-bar {
	position: relative;
}

.prefix.postfix {
	border-width: 0;

	input {
		text-align: center;
	}
}

form {
	.row {
		.row.collapse.prefix.postfix {
			margin-bottom: 1rem;
		}
	}
}

.prefix.postfix .columns:first-child {
	button, .button {
		@include prefix-border-radius(4px);
	}
}

.prefix.postfix .columns:last-child {
	button, .button {
		@include postfix-border-radius(4px);
	}
}

.reveal-modal {
	.row:last-child {
		button, .button {
			margin-bottom: 0;
		}
	}
}

/* Global Elements
-------------------------------- */

ul {
	list-style: none;
}

.alert-box {
	ul {
		margin: 0;
	}
}


