
/* Transitions
-------------------------------- */

@-webkit-keyframes target-fade {
    0% { background-color: $siestaOrangeRgbaFaded; }
    100% { background-color: $siestaOrangeRgba; }
}

@-moz-keyframes target-fade {
    0% { background-color: $siestaOrangeRgbaFaded; }
    100% { background-color: $siestaOrangeRgba; }
}

/* Mixins
-------------------------------- */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin prefix-border-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin postfix-border-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

/* Utility Classes
-------------------------------- */

.ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Foundation Overrides
-------------------------------- */

.prefix.postfix {
	border-width: 0;

	input {
		text-align: center;
	}
}

form {
	.row {
		.row.collapse.prefix.postfix {
			margin-bottom: 1rem;
		}
	}
}

.prefix.postfix .columns:first-child {
	button, .button {
		@include prefix-border-radius(4px);
	}
}

.prefix.postfix .columns:last-child {
	button, .button {
		@include postfix-border-radius(4px);
	}
}

.reveal-modal {
	.row:last-child {
		button, .button {
			margin-bottom: 0;
		}
	}
}



