
.imageHolder {
    h1 {
        font-size: rem-calc(60);
        margin-bottom: rem-calc(60);
    }

    @media #{$small-only} {
        display: none !important;
    }

    @media #{$medium-only} {
        display: none !important;
    }
}

.parallax, .imageHolder {
    h1, p {
        color: $parallaxFontColor;
        text-shadow: 2px 2px 4px $parallaxFontShadow;
    }
}

.imageHolder, .parallax-content {
    position: relative;
    max-width: 100%;

    .row, .columns {
        height: 100%;
    }

    p {
        font-size: rem-calc(25);
    }

    :last-child {
        margin-bottom: 0;
    }

    .devices-content {
        height: rem-calc(362);
    }

    .vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.touch { /* modernizr added class */
    .parallax.intro {
        position: relative;

        .row {
            position: absolute;
            top: 0;

            @media #{$small-only} {
                margin-top: rem-calc(20);

                .button {
                    margin-top: rem-calc(20);
                    @extend .small;
                }
            }

            @media #{$medium-only} {
                margin-top: rem-calc(140);

                h1 {
                    font-weight: rem-calc(50);
                }

                .button {
                    margin-top: rem-calc(30);
                }
            }
        }
    }
}

.cta-get-started {
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);
}
