

.list-item {
	margin-bottom: 5px !important;

	.item-name {
		padding-left: 0;
		padding-right: 0;

		.ellipsis {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			line-height: rem-calc(38);
			font-size: 1rem;
			border-top: 1px solid $listItemBorder;
			border-bottom: 1px solid $listItemBorder;

			&:active {
				-webkit-animation: target-fade 3s 1;
				-moz-animation: target-fade 3s 1;
			}
		}

		&:not(.shared) {
			.ellipsis {
				cursor: pointer;
			}
		}

		&.terminate {
			padding-right: 0.9375rem;

			.ellipsis {
				border-right: 1px solid $listItemBorder;
				@include postfix-border-radius(4px);
			}
		}
	}

	.button, button {
		&.tiny {
			margin-bottom: 0;
			font-size: 1.3rem;
			line-height: rem-calc(40);
			padding: 0;
			text-align: center;
			width: 100%;
		}

		&.secondary {
			.fa-check {
				color: $listItemUncheckedColor;
			}
		}
	}

	.columns:first-child {
		padding-right: 0;

		button, .button {
			@include prefix-border-radius(4px);
		}
	}

	.columns:last-child {
		padding-left: 0;
		@include postfix-border-radius(4px);

		button, .button {
			@include postfix-border-radius(4px);
		}
	}
}