
<div class="row search-box">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 columns">
				<h2>Share <!-- ko text: listName --><!-- /ko --></h2>
			</div>
		</div>
		<div class="row">
			<div class="columns small-12">
				<div data-bind="component: { name: 'share-alert', params: { alertType: 'alert', alertMessage: error } }"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<input type="text" class="radius" data-bind="textInput: searchParam" />
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<ul class="inline-list" data-bind="foreach: searchResults">
					<li>
						<span class="label secondary radius" data-bind="click: $parent.shareList, disabled: !loading()">
							<!-- ko text: email --><!-- /ko --> <i class="fa fa-plus" data-bind="visible: !loading()"></i><i class="fa fa-spin fa-spinner" data-bind="visible: loading()"></i>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h4 data-bind="visible: listUsers().length > 0">Shared With</h4>
				<ul class="inline-list" data-bind="foreach: listUsers">
					<li>
						<span class="label radius" data-bind="click: $parent.unshareList, disabled: !loading()">
							<!-- ko text: email --><!-- /ko --> <i class="fa fa-times" data-bind="visible: !loading()"></i><i class="fa fa-spin fa-spinner" data-bind="visible: loading()"></i>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>