<div class="row search-box">
	<div class="small-12 columns">
		<h2>Share This List</h2>
		<input type="text" class="radius" data-bind="textInput: searchParam" />
		<ul class="inline-list" data-bind="foreach: searchResults">
			<li><span class="label secondary radius"><!-- ko text: email --><!-- /ko --> <i class="fa fa-plus"></i></span></li>
		</ul>
		<ul class="inline-lists" data-bind="foreach: listUsers">
			<li><span class="label radius"><!-- ko text: email --><!-- /ko --> <i class="fa fa-times"></i></span></li>
		</ul>
	</div>
</div>