<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Skills</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h2>Design Skills</h2>
				<div class="list-group" data-bind="visible: design().length > 0, foreach: design">
					<a href="#" class="list-group-item" data-bind="click: $parent.editSkill">
						<div data-bind="visible: !edit">
							<span data-bind="text: name"></span>
							<div class="pull-right controls">
								<button type="button" class="btn btn-danger btn-xs pull-left" data-bind="click: $parent.removeSkill, clickBubble: false">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</div>
						</div>
						<form data-bind="visible: edit">
							<input type="form-control form-inline" data-bind="value: tempName">
							<div class="pull-right controls">
								<button type="button" class="btn btn-default btn-xs pull-left" data-bind="click: $parent.cancelUpdate">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
								<button type="submit" class="btn btn-success btn-xs pull-left" data-bind="click: $parent.updateSkill">
									<i class="glyphicon glyphicon-ok"></i>
								</button>
							</div>
						</form>
					</a>
				</div>
				<form data-bind="submit: addDesignSkill">
					<div class="input-group">
						<input type="text" class="form-control" data-bind="value: newDesignSkill">
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</span>
					</div>
				</form>
			</div>
			<div class="col-sm-12 col-md-6">
				<h2>Development Skills</h2>
				<div class="list-group" data-bind="visible: development().length > 0, foreach: development">
					<a href="#" class="list-group-item" data-bind="click: $parent.editSkill">
						<div data-bind="visible: !edit">
							<span data-bind="text: name"></span>
							<div class="pull-right controls">
								<button type="button" class="btn btn-danger btn-xs pull-left" data-bind="click: $parent.removeSkill, clickBubble: false">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</div>
						</div>
						<form data-bind="visible: edit">
							<input type="form-control form-inline" data-bind="value: tempName">
							<div class="pull-right controls">
								<button type="button" class="btn btn-default btn-xs pull-left" data-bind="click: $parent.cancelUpdate">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
								<button type="submit" class="btn btn-success btn-xs pull-left" data-bind="click: $parent.updateSkill">
									<i class="glyphicon glyphicon-ok"></i>
								</button>
							</div>
						</form>
					</a>
				</div>
				<form data-bind="submit: addDevelopmentSkill">
					<div class="input-group">
						<input type="text" class="form-control" data-bind="value: newDevelopmentSkill">
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


