
<!-- Add List Item -->
<div class="row">
	<div class="columns small-12">
		<div data-bind="component: { name: 'page-alert', params: { alertType: 'alert', alertMessage: formError } }"></div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<form data-bind="submit: addItem">
			<div class="row">
				<div class="columns small-12">
					<div class="row collapse postfix-radius">
						<div class="columns small-9 medium-10 large-11">
							<input type="text" placeholder="New Item" data-bind="textInput: newItemName" required />
						</div>
						<div class="columns small-3 medium-2 large-1">
							<button type="submit" class="button postfix success"><i class="fa fa-plus"></i></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- List Items -->
<div class="row">
	<div class="columns small-12">
		<div data-bind="component: { name: 'page-alert', params: { alertType: 'alert', alertMessage: pageError } }"></div>
	</div>
</div>
<div class="row">
	<div class="columns small-12" data-bind="foreach: items">
		<div class="row list-item">
			<div class="small-2 medium-1 columns">
				<button class="button tiny secondary" data-bind="click: $parent.toggleChecked, visible: !checked()"><i class="fa fa-check"></i></button>
				<button class="button tiny success" data-bind="click: $parent.toggleChecked, visible: checked()"><i class="fa fa-check"></i></button>
			</div>
			<div data-bind="attr: { class: nameColumnClass() }">
				<div class="ellipsis" data-bind="click: $parent.editItem"><!-- ko text: quantity --><!-- /ko -->x <!-- ko text: name --><!-- /ko --></div>
			</div>
			<div class="small-2 medium-1 columns" data-bind="visible: checked()">
				<button class="button tiny alert" data-bind="click: $parent.removeItem"><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<!-- edit list item modal -->
<div id="editItemModal" class="reveal-modal" data-reveal>
	<a class="close-reveal-modal">&#215;</a>

	<div class="row">
		<div class="small-12 columns">
			<h3>Edit Item</h3>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12">
			<div data-bind="component: { name: 'modal-alert', params: { alertType: 'alert', alertMessage: modalError } }"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<form data-bind="submit: saveItem, with: selectedItem">
				<div class="row">
					<div class="columns small-12">
						<div class="row">
							<div class="small-12 columns">
								<input type="text" class="radius" placeholder="Item Name" data-bind="textInput: name" required>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<div class="row collapse prefix postfix">
									<div class="small-3 medium-2 large-1 columns">
										<button class="button secondary prefix" data-bind="click: $parent.decrementSelectedItemQuantity, enabled: quantity > 1"><i class="fa fa-minus"></i></button>
									</div>
									<div class="small-6 medium-8 large-10 columns">
										<input type="text" placeholder="qty" data-bind="textInput: quantity" pattern="^[1-9][0-9]*$" title="Quantity must be greater than zero" required />
									</div>
									<div class="small-3 medium-2 large-1 columns">
										<button class="button secondary postfix" data-bind="click: $parent.incrementSelectedItemQuantity"><i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<button type="submit" class="button expand radius">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div data-bind="component: { name: 'overlay-loader', params: { loading: loading } }"></div>




