
<!-- Add List Item -->
<div class="row">
	<div class="columns small-12">
		<div data-bind="component: { name: 'page-alert', params: { alertType: 'alert', alertMessage: formError } }"></div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<form data-bind="submit: addItem">
			<div class="row">
				<div class="columns small-4 medium-3 large-2">
					<div class="row collapse prefix-radius postfix-radius">
						<div class="small-4 medium-3 columns">
							<button class="button secondary prefix" data-bind="click: decrementNewItemQuantity, enabled: newItemQuantity > 1"><i class="fa fa-minus"></i></button>
						</div>
						<div class="small-4 medium-6 columns">
							<input type="text" placeholder="qty" data-bind="textInput: newItemQuantity" pattern="^[1-9][0-9]*$" title="Quantity must be greater than zero" required />
						</div>
						<div class="small-4 medium-3 columns">
							<button class="button secondary postfix" data-bind="click: incrementNewItemQuantity"><i class="fa fa-plus"></i></button>
						</div>
					</div>
				</div>
				<div class="columns small-8 medium-9 large-10">
					<div class="row collapse postfix-radius">
						<div class="columns small-9 medium-10 large-11">
							<input type="text" placeholder="New Item" data-bind="textInput: newItemName" required />
						</div>
						<div class="columns small-3 medium-2 large-1">
							<button type="submit" class="button small postfix success radius"><i class="fa fa-plus"></i></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- List Items -->
<div class="row">
	<div class="columns small-12">
		<div data-bind="component: { name: 'page-alert', params: { alertType: 'alert', alertMessage: pageError } }"></div>
	</div>
</div>
<div class="row">
	<div class="columns small-12">
		<ul data-bind="foreach: items">
			<li class="list-item">
				<button class="button tiny warning" data-bind="click: $parent.toggleChecked, visible: !checked()"><i class="fa fa-shopping-cart"></i></button>
				<button class="button tiny success" data-bind="click: $parent.toggleChecked, visible: checked()"><i class="fa fa-check"></i></button>
				<!-- ko text: name --><!-- /ko --> x<!-- ko text: quantity --><!-- /ko -->
				<ul class="button-group" data-bind="visible: !checked()">
					<li><button class="button tiny secondary" data-bind="click: $parent.decrementItemQuantity" data-reveal-id="editListModal"><i class="fa fa-minus"></i></button></li>
					<li><button class="button tiny secondary" data-bind="click: $parent.incrementItemQuantity" data-reveal-id="editListModal"><i class="fa fa-plus"></i></button></li>
				</ul>
				<button class="button tiny warning" data-bind="click: $parent.removeItem, visible: checked()"><i class="fa fa-times"></i></button>
			</li>
		</ul>
	</div>
</div>