

<!-- Add List Form -->
<div class="row">
	<div class="columns small-12">
		<div data-bind="component: { name: 'form-alert', params: { alertType: 'alert', alertMessage: formError } }"></div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<form data-bind="submit: addList">
			<div class="row">
				<div class="small-12 columns">
					<div class="row collapse postfix-radius">
						<div class="small-10 medium-11 columns">
							<input type="text" placeholder="New List Name" data-bind="textInput: newListName" required>
						</div>
						<div class="small-2 medium-1 columns">
							<button type="submit" class="button success postfix"><i class="fa fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Lists -->
<div class="row">
	<div class="columns small-12">
		<div data-bind="component: { name: 'page-alert', params: { alertType: 'alert', alertMessage: pageError } }"></div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h3>My Lists</h3>
	</div>
</div>
<div class="row" data-bind="visible: lists().length > 0">
	<div class="small-12 columns" data-bind="foreach: lists">
		<div class="row list-item">
			<div class="small-2 medium-1 columns">
				<a class="button tiny" data-bind="attr: { href: viewLink }"><i class="fa fa-folder-open"></i></a>
			</div>
			<div class="small-8 medium-10 columns item-name">
				<div class="ellipsis" data-bind="text: name, click: $parent.editListTitle"></div>
			</div>
			<div class="small-2 medium-1 columns">
				<button class="button tiny alert" data-bind="click: $parent.deleteList"><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="row" data-bind="visible: lists().length < 1">
	<div class="small-12 columns">
		<div class="alert-box secondary radius">You have no lists! Create one using the form above</div>
	</div>
</div>
<div class="row" data-bind="visible: sharedLists().length > 0">
	<div class="small-12 columns">
		<h3>Shared Lists</h3>
	</div>
</div>
<div class="row">
	<div class="small-12 columns" data-bind="foreach: sharedLists">
		<div class="row list-item">
			<div class="small-2 medium-1 columns">
				<a class="button tiny" data-bind="attr: { href: viewLink }"><i class="fa fa-folder-open"></i></a>
			</div>
			<div class="small-10 medium-11 columns item-name shared terminate">
				<div class="ellipsis" data-bind="text: name"></div>
			</div>
		</div>
	</div>
</div>

<!-- Edit List Modal -->
<div id="editListModal" class="reveal-modal" data-reveal>
	<a class="close-reveal-modal">&#215;</a>

	<div class="row">
		<div class="columns small-12">
			<div data-bind="component: { name: 'modal-alert', params: { alertType: 'alert', alertMessage: modalError } }"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<form data-bind="submit: saveList">
				<div class="row">
					<div class="columns small-12">
						<div class="row collapse">
							<div class="small-12 columns">
								<input type="text" placeholder="New List Name" data-bind="textInput: editListName" required>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<button type="submit" class="button expand">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div data-bind="component: { name: 'overlay-loader', params: { loading: loading } }"></div>

