/*
	Colors
	Use these in Usage below, not in stylesheets
*/

// Neutral
$white       : #fffefa;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$limestone   : #e7e7e7; // foundation default - secondary
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Blue
$periwinkle  : #008CBA; // foundation default - primary
$clearsky    : #a0d3e8; // foundation default - info

// Red
$vermillion  : #f04124; // foundation default - alert

// Green
$grass       : #43AC6A; // foundation default - success

// Orange
$amber       : #f08a24; // foundation default - warning

/* 
	Siesta Color Scheme
	Use this in Usage below, not in stylesheets
	http://www.colorschemer.com/schemes/viewscheme.php?id=9539
*/

$siestaRed       : #d01914;
$siestaGreen     : #398331;
$siestaYellow    : #d6a324;
$siestaOrange    : #e3671d;
$siestaCream     : #e2d398;
$siestaBrown     : #715f41;
$siestaBlack     : #1b1710;

$siestaCreamRgba       : rgba(226, 211, 152, 0);
$siestaCreamRgbaFaded  : rgba(226, 211, 152, .1);
$siestaYellowRgba       : rgba(214, 163, 36, 0);
$siestaYellowRgbaFaded  : rgba(214, 163, 36, .1);
$siestaOrangeRgba       : rgba(227, 103, 29, 0);
$siestaOrangeRgbaFaded  : rgba(227, 103, 29, .1);

/* 
	Usage
	Use these in stylesheets
*/

$listItemBorder : $siestaCream;

$loaderColor    : $siestaOrange;






