/*
	Colors
	Use these in Usage below, not in stylesheets
*/

// Neutral
$white       : #fffefa;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$whiteRgba      : rgba(255, 254, 250, 1);
$whiteRgbaFaded : rgba(255, 254, 250, .1);

/* Foundation Defaults */
$periwinkle : #008CBA; // primary
$limestone  : #e7e7e7; // secondary
$clearsky   : #a0d3e8; // info
$vermillion : #f04124; // alert
$grass      : #43AC6A; // success
$amber      : #f08a24; // warning
/* Foundation Defaults End */

/*
	Rebirth Color Scheme
	Use this in Usage below, not in stylesheets
	http://www.colorschemer.com/schemes/viewscheme.php?id=9311
 */

$rebirthGreen      : #35a94e;
$rebirthLightGreen : #abc07b;
$rebirthTeal       : #18a4a9;
$rebirthSkyBlue    : #1cb2d0;
$rebirthNavy       : #0d6797;
$rebirthPurple     : #623691;
$rebirthRed        : #a71f27;
$rebirthYellow     : #fec659;

/* 
	Usage
	Use these in stylesheets
*/

/* Foundation Start */
$primaryColor                  : $rebirthNavy;
$secondaryColor                : $vapor;
$alertColor                    : $rebirthRed;
$successColor                  : $rebirthGreen;
$warningColor                  : $rebirthYellow;
$infoColor                     : $rebirthTeal;

$bodyBg                        : $white;
$bodyFontColor                 : $oil;

$headerFontColor               : $oil;
$anchorFontColor               : $rebirthNavy;

$alertFontColor                : $white;
$alertSecondaryFontColor       : $oil;
$alertFontColorAlt             : $white;

$buttonFontColor               : $white;
$buttonFontColorAlt            : $steel;

$formLabelFontColor            : lighten($oil, 5%);
$inputFontColor                : $oil;
$inputFocusBgColor             : $snow;
$inputBorderColor              : $secondaryColor;
$inputFocusBorderColor         : darken($inputBorderColor, 5%);
$inputBoxShadow                : inset 0 1px 2px $snow;
$inputPrefixFontColor          : $white;
$inputPrefixFontColorAlt       : $white;
$inputErrorMessageFontColor    : $white;
$inputErrorMessageFontColorAlt : $white;

$iconBarBg                     : darken($rebirthNavy, 20%);
$iconBarFontColor              : $white;
$iconBarHoverColor             : darken($rebirthNavy, 10%);
$iconBarIconColor              : $white;
$iconBarActiveColor            : darken($rebirthNavy, 10%);
/* Foundation End */

$lblPrimaryHover        : darken($primaryColor, 10%);
$lblSecondaryHover      : darken($secondaryColor, 10%);
$lblAlertHover          : darken($alertColor, 10%);
$lblSuccessHover        : darken($successColor, 10%);
$lblInfoHover           : darken($infoColor, 10%);

$targetFade             : $whiteRgba;
$targetFadeFaded        : $whiteRgbaFaded;

$listItemBorder         : $inputBorderColor;
$listItemUncheckedColor : $white;

$loaderColor            : $rebirthTeal;
$loaderBackgroundColor  : $white;






