// Neutral
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$limestone   : #e7e7e7; // foundation default - secondary
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Blue
$periwinkle  : #008CBA; // foundation default - primary
$clearsky    : #a0d3e8; // foundation default - info

// Red
$vermillion  : #f04124; // foundation default - alert

// Green
$grass       : #43AC6A; // foundation default - success

// Orange
$amber       : #f08a24; // foundation default - warning

/* Usage */

$listItemBorder : $limestone;
