
/* Transitions
-------------------------------- */

@-webkit-keyframes target-fade {
    0% { background-color: $targetFadeFaded; }
    100% { background-color: $targetFade; }
}

@-moz-keyframes target-fade {
    0% { background-color: $targetFadeFaded; }
    100% { background-color: $targetFade; }
}

/* Mixins
-------------------------------- */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin prefix-border-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin postfix-border-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-ms-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}

@mixin animation-delay($animationDelay) {
	-webkit-animation-delay: $animationDelay;
	-moz-animation-delay: $animationDelay;
	-ms-animation-delay: $animationDelay;
	-o-animation-delay: $animationDelay;
	animation-delay: $animationDelay;
}

/* Settings
-------------------------------- */

$loaderDuration     : 0.6s;
$loaderBubble2Delay : ($loaderDuration / 10) * 3;
$loaderBubble3Delay : $loaderBubble2Delay * 2;





